<a href="https://colab.research.google.com/github/Stinger101/Python-Intro/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
print("Hello World!!!")

Hello World!!!

In [37]:
1+1

2

In [38]:
4/2

2.0

In [39]:
def addition():
  print(1+1)

In [40]:
addition()

2

In [41]:
def addition_v1(num_1,num_2):
  return num_1+num_2

In [42]:
addition_v1(30,40)

70

# Create a function that adds any two numbers and divides the result by 100

In [43]:
def add_v3(a,b):
  print((a+b)/100)

In [44]:
add_v3(50,50)

1.0

In [45]:
a=1

In [46]:
print(a)

1

In [47]:
a=10

In [48]:
a+5

15

In [49]:
a=100

In [50]:
def minus(a,b):
  return a-b

In [51]:
minus(90,10)+1

81

In [52]:
temp_dif = minus(56,30)

In [53]:
print(temp_dif)

26

In [54]:
(50/100 *20) + (60/100*30) + (70/100*50)

63.0

# create a function called grader that takes marks and returns the total grade.
the function should take three arguments i.e cat_1, cat_2 and exam
the weight of cat_1 is 20%
the weight of cat_2 is 30%
the weight of the exam is 50%
The formula is
   (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)

In [55]:
def grader(cat_1,cat_2,exam):
  return (cat_1/100 * 20) + (cat_2/100 * 30) + (exam/100 * 50)

In [56]:
grader(50,60,70)

63.0

In [57]:
our_total_grade = grader(90,70,20)

In [58]:
print(our_total_grade)

49.0

In [59]:
our_total_grade + 20

69.0

In [60]:
4/2

2.0

In [61]:
type(our_total_grade)

float

In [62]:
int(our_total_grade)

49

In [63]:
str(our_total_grade)

'49.0'

In [64]:
age = input("What is your age?")

What is your age?20

In [65]:
print(age)

20

In [66]:
type(age)

str

In [67]:
int(age)+5

25

In [68]:
float(age)

20.0

In [69]:
age = float(age)

In [70]:
type(age)

float

In [71]:
age = int(age)

In [72]:
type(age)

int

In [73]:
name = input("What is your name?")

What is your name?john

In [74]:
print(name)

john

In [75]:
temp = input("What is the temperature outside?")

What is the temperature outside?39.5

In [76]:
type(temp)

str

In [78]:
temp = float(temp)

In [79]:
type(temp)

float

In [80]:
temp = int(input("What is the temp outside?"))

What is the temp outside?30

In [81]:
type(temp)

int

# modify your grader to prompt user for their
# marks instead of taking arguments

In [82]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b

In [83]:
first_val = int(input("Enter your first value"))
second_val = int(input("Enter another value"))
print(add(first_val,second_val))
print(sub(first_val,second_val))
print(mul(first_val,second_val))
print(div(first_val,second_val))

Enter your first value10
Enter another value5
15
5
50
2.0

In [84]:
name = "John "

In [85]:
name.upper()

'JOHN '

In [86]:
name .lower()

'john '

In [87]:
name.strip()

'John'

In [88]:
len(name)

5

In [89]:
second_name = "Rarui"

In [92]:
name+second_name

'John Rarui'

In [93]:
"my name is {} {} ".format(name,second_name)

'my name is John  Rarui '

In [94]:
"my name is {1} {0} ".format(name,second_name)

'my name is Rarui John  '

In [95]:
"w" in name

False

In [96]:
students = "Mary,Edward,Mark,Winfred,Elsa"

In [97]:
name.split(",")

['John ']

# Math Library

In [98]:
import math

In [99]:
math.sqrt(24)

4.898979485566356

In [100]:
first_name = "John"
second_name = "Doe"
first_name+" "+second_name

'John Doe'

In [101]:
first_name*2

'JohnJohn'

Operations on strings

In [102]:
# this code returns the length of a string
len(first_name)

4

In [105]:
first_name.upper()

'JOHN'

In [106]:
f_n = first_name.lower()

In [107]:
print(f_n)

john

In [108]:
national_id = "  3638 5023 "
national_id.strip()

'3638 5023'

In [109]:
national_id.replace(" ","")

'36385023'

In [111]:
national_id.replace("2","7")

'  3638 5073 '

In [112]:
my_new_id = national_id.strip().replace(" ","").replace("3","4")

In [113]:
print(my_new_id)

46485024

In [114]:
my_new_id.isnumeric()

True

In [115]:
national_id.isnumeric()

False

In [116]:
cars = "toyota,benz,bmw"
cars.split(",")

['toyota', 'benz', 'bmw']

In [117]:
True

True

In [118]:
is_cloudy = True

In [119]:
type(is_cloudy)

bool

In [120]:
a = 15
b = 5
a == b

False

In [121]:
c = a==b
print(c)

False

In [122]:
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(not a==b)

True
True
False
False
True

In [123]:
a = 3
b = 3
c = 4

a==b
b==c

False

In [124]:
(a == b) and (b==c)

False

In [125]:
(a == b) or (b==c)

True

In [126]:
limit_weight = 20
truck_weight = int(input("What is your truck weight"))
if truck_weight>limit_weight:
  print("Pay the fine")
else:
  print("Dont pay the fine")

What is your truck weight50
Pay the fine

In [127]:
is_raining = True
if is_raining:
  print("Buy an umbrella")
else:
  print("Dont buy an umbrella")

Buy an umbrella

In [128]:
num_of_pass = int(input("How many passengers are there?"))
if(num_of_pass==1):
  print("Use uber boda")
elif(num_of_pass>1 and num_of_pass<=4):
  print("Use uber x")
elif(num_of_pass>4 and num_of_pass<7):
  print("Use uber xl")
else:
  print("No uber class available")

How many passengers are there?4
Use uber x

# Task: Create a scientific calculator.
The calculator should ask a user for the operation they want then prompt them for values(max of 2) and return the result
 - 2 logarithmic operations
 - 3 trig operations
 - all 4 basic operations(+,-,*,/)
Example of the flow:
- What operation do you want to do? sin
- Provide your value in radians. 45
- 90

in this task you will use:
- functions
- math
- boolean expressions
- if--elif--else
- isnumeric()

In [178]:
#Lists
cars = ["merc","bmw","toyota","rr","citreon","hyundai"]

In [191]:
cars[::-1]

['hyundai', 'citreon', 'rr', 'toyota', 'bmw', 'merc']

In [184]:
cars[4:]

['citreon', 'hyundai']

In [186]:
cars[0:4]

['merc', 'bmw', 'toyota', 'rr']

In [187]:
cars[:4]

['merc', 'bmw', 'toyota', 'rr']

In [179]:
# convert from string
student_names = "John,Mary,Edward"
students = student_names.split(",")
print(students)

['John', 'Mary', 'Edward']

In [180]:
print(cars)

['merc', 'bmw', 'toyota', 'rr', 'citreon', 'hyundai']

In [181]:
#Length of a list
len(cars)-1

5

In [182]:
cars[len(cars)-1]

'hyundai'

In [183]:
cars[-1]

'hyundai'

In [133]:
#sccessing values in the list using indices
# accessing one value
cars[0]

'merc'

In [134]:
cars.index("bmw")

1

In [135]:
cars[-1]

'hyundai'

In [136]:
#accessing a range of values(slicing)
# it omits the last value
cars[0:2]

['merc', 'bmw']

In [137]:
# accessing alternate values
cars[0:6:2]

['merc', 'toyota', 'citreon']

In [138]:
cars[4:]

['citreon', 'hyundai']

In [139]:
cars[:4]

['merc', 'bmw', 'toyota', 'rr']

In [140]:
#reversing a list
cars[::-1]

['hyundai', 'citreon', 'rr', 'toyota', 'bmw', 'merc']

In [141]:
cars.reverse()
cars

['hyundai', 'citreon', 'rr', 'toyota', 'bmw', 'merc']

In [142]:
cars[0]= "Isuzu"

In [143]:
cars

['Isuzu', 'citreon', 'rr', 'toyota', 'bmw', 'merc']

In [144]:
cars

['Isuzu', 'citreon', 'rr', 'toyota', 'bmw', 'merc']

In [145]:
cars.append("Mini cooper")

In [146]:
cars

['Isuzu', 'citreon', 'rr', 'toyota', 'bmw', 'merc', 'Mini cooper']

In [147]:
cars+["byd","porsche"]

['Isuzu',
 'citreon',
 'rr',
 'toyota',
 'bmw',
 'merc',
 'Mini cooper',
 'byd',
 'porsche']

In [148]:
cars.extend(["mahindra","bugatti"])

In [149]:
# removing items from a list
cars.remove("Mini cooper")

In [150]:
cars

['Isuzu', 'citreon', 'rr', 'toyota', 'bmw', 'merc', 'mahindra', 'bugatti']

In [151]:
cars.pop()

'bugatti'

In [152]:
#list operations
cars.sort()

In [153]:
#note capital letters come before small letters
cars

['Isuzu', 'bmw', 'citreon', 'mahindra', 'merc', 'rr', 'toyota']

In [154]:
student_marks = [10,14,8,16,7,8,15,12,14]
sum(student_marks)

104

In [155]:
max(student_marks)

16

In [156]:
min(student_marks)

7

In [157]:
set(student_marks)

{7, 8, 10, 12, 14, 15, 16}

In [158]:
sum(student_marks)/len(student_marks)

11.555555555555555

In [195]:
#Loops in  a list
for car in cars:
  print(car.upper())

MERC
BMW
TOYOTA
RR
CITREON
HYUNDAI

In [2]:
# Each order is represented as a list: [customer_name, item, quantity, price_per_item, delivery_status]
orders = [
    ["Alice", "Laptop", 1, 750, "delivered"],
    ["Bob", "Phone", 2, 400, "pending"],
    ["Charlie", "Headphones", 1, 150, "deli vered"],
    ["David", "Phone", "two", 400, "delivered"],  # wrong quantity format
    ["Eve", "Monitor", 1, "two hundred", "delivered "],  # price is a string
    ["Frank", "Keyboard", 1, 50, "p3nding"],
    ["Grace", "Mouse", 1, 30, "delivered"],
    ["Heidi", "Laptop", 2, 750, "cancelled"],
    ["Ivan", "Phone", 1, 400, "Delivered"],  # case inconsistency
    ["Judy", "", 1, 150, "delivered"],  # missing item infer by price of item
]

In [17]:
# cleaning data
order_names = []
order_items = []
order_quantities = []
order_prices = []
order_statuses = []
total_prices = []
for order in orders:
  order_names.append(order[0])
  if  order[1]=="":
    order_items.append("Headphones")
  else:
    order_items.append(order[1])
  if order[2]=="two":
    order_quantities.append(2)
  else:
    order_quantities.append(order[2])
  if order[3]=="two hundred":
    order_prices.append(200)
  else:
    order_prices.append(order[3])
  order_statuses.append(order[4].lower().strip().replace(" ","").replace("3","e"))

print(order_names,order_items,order_quantities,order_prices,order_statuses)
# total amount spent
index = 0
for price in order_prices:
  total_prices.append(price*order_quantities[index])
  index = index+1
print(total_prices)
print(sum(total_prices))
# Average amount spend
print(sum(total_prices)/len(total_prices))
# Name of customer with highest amount spent
print(order_names[total_prices.index(max(total_prices))])
# lowest amount spent
print(min(total_prices))
# most sold item
items_list = set(order_items)
print(items_list)
item_count = []
ind = 0
index = 0
for items in items_list:
  item_count.append(0)
  for item in order_items:
    if item==items:
      item_count[ind] = item_count[ind]+order_quantities[index]
    index = index+1
  index = 0
  ind = ind + 1
items_list = list(items_list)
print(items_list[item_count.index(max(item_count))])
# number of undelivered items
ind = 0
total_undel=0
for status in order_statuses:
  if status!="delivered":
    total_undel = total_undel+order_quantities[ind]
  ind = ind+1
print(total_undel)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Judy'] ['Laptop', 'Phone', 'Headphones', 'Phone', 'Monitor', 'Keyboard', 'Mouse', 'Laptop', 'Phone', 'Headphones'] [1, 2, 1, 2, 1, 1, 1, 2, 1, 1] [750, 400, 150, 400, 200, 50, 30, 750, 400, 150] ['delivered', 'pending', 'delivered', 'delivered', 'delivered', 'pending', 'delivered', 'cancelled', 'delivered', 'delivered']
[750, 800, 150, 800, 200, 50, 30, 1500, 400, 150]
4830
483.0
Heidi
30
{'Monitor', 'Mouse', 'Headphones', 'Phone', 'Keyboard', 'Laptop'}
Phone
5

In [160]:
# Tuples: Like lists but unchangeable
# no adding values, changing values or removing values
# assign value during creation
cars_tp = ("merc","bmw","toyota","rr","citreon","hyundai")

In [161]:
list(cars_tp)

['merc', 'bmw', 'toyota', 'rr', 'citreon', 'hyundai']

In [162]:
# assigning multiple variables with tuples
weights = (20,25,55)
cat_1, cat_2, exam = weights

In [163]:
print(cat_1)

20

In [164]:
def basic_calc(a,b):
  return (a+b, a-b, a*b, a/b)

sum_val, dif_val, prod_val, div_val = basic_calc(10,5)

In [165]:
print(dif_val)

5

In [166]:
# sets - get unique values
names = ["John","Mary","Edward","John","Mary","Edward"]
set(names)

{'Edward', 'John', 'Mary'}

In [167]:
# dictionaries - Key:Value pairs
student_marks = {"John":10,"Mary":14,"Edward":8}
print(student_marks)

{'John': 10, 'Mary': 14, 'Edward': 8}

In [168]:
student_marks["John"]

10

In [169]:
student_marks["John"] = 58

In [170]:
student_marks

{'John': 58, 'Mary': 14, 'Edward': 8}

In [171]:
student_marks["Peter"] = 108

In [172]:
student_marks

{'John': 58, 'Mary': 14, 'Edward': 8, 'Peter': 108}

In [173]:
student_marks.keys()

dict_keys(['John', 'Mary', 'Edward', 'Peter'])

In [174]:
student_marks.values()

dict_values([58, 14, 8, 108])

In [175]:
student_marks.items()

dict_items([('John', 58), ('Mary', 14), ('Edward', 8), ('Peter', 108)])

In [18]:
names = ("John","Mary","Peter")
names

('John', 'Mary', 'Peter')

In [19]:
len(names)

3

In [20]:
student_1, student_2, student_3 = names

In [21]:
print(student_1)

John

In [22]:
def add_sub(a,b):
  sum = a+b
  dif = a-b
  return (sum, dif)

In [23]:
add_sub(2,3)

(5, -1)

In [24]:
addition, subtraction = add_sub(10,10)

In [25]:
print(addition)
print(subtraction)

20
0

In [27]:
list_of_names = list(names)

In [28]:
type(list_of_names)

list

In [29]:
tuple(list_of_names)

('John', 'Mary', 'Peter')

In [31]:
names[2]

'Peter'

In [32]:
student_ages = ["John",20,"Mary",18]
students= []
ages = []
for item in student_ages:
  if type(item)==str:
    students.append(item)
  else:
    ages.append(item)
print(students)
print(ages)

['John', 'Mary']
[20, 18]

In [33]:
student_marks = {"John":30,
                 "Mary":18,
                 "Peter":40
                 }
print(student_marks)

{'John': 30, 'Mary': 18, 'Peter': 40}

In [34]:
student_marks["John"]

30

In [35]:
student_marks["John"] = 50
student_marks

{'John': 50, 'Mary': 18, 'Peter': 40}

In [36]:
student_marks["Edward"]=45

In [37]:
student_marks

{'John': 50, 'Mary': 18, 'Peter': 40, 'Edward': 45}

In [39]:
student_marks.pop("John")

50

In [40]:
student_marks

{'Mary': 18, 'Peter': 40, 'Edward': 45}

In [42]:
student_marks.keys()

dict_keys(['Mary', 'Peter', 'Edward'])

In [43]:
student_marks.values()

dict_values([18, 40, 45])

In [44]:
student_marks.items()

dict_items([('Mary', 18), ('Peter', 40), ('Edward', 45)])

In [45]:
for keys in student_marks.keys():
  print(keys)

Mary
Peter
Edward

In [46]:
for marks in student_marks.values():
  print(marks)

18
40
45

In [50]:
for student, marks in student_marks.items():
  print(student,"scored",marks)

Mary scored 18
Peter scored 40
Edward scored 45

In [55]:
customer_data = {
    "Jane":["Lamp",500,"20/02/2015"],
    "Peter":["bulb",50,"21/02/2015"],
    "Alfred":["Socket",250,"20/02/2015"],
    "Eden":["Lamp",500,"22/02/2015"]
}
price_list = [item[1] for item in customer_data.values()]
# print out the customer who spent the most
# e.g Peter bought a bulb for 50 KES on 21/02/2015

In [56]:
price_list

[500, 50, 250, 500]

In [54]:
max_value = 0
for val in customer_data.values():
  if val[1] > max_value:
    max_value = val[1]

for key, val in customer_data.items():
  if val[1] == max_value:
    print(key,"bought a",val[0],"for",val[1],"KES on",val[2])

Jane bought a Lamp for 500 KES on 20/02/2015
Eden bought a Lamp for 500 KES on 22/02/2015

In [1]:
students_data = {
    "S001": {"name": "Alice", "age": 20, "score": 88, "passed": True},
    "S002": {"name": "Bob", "age": 22, "score": 76, "passed": True},
    "S003": {"name": "Charlie", "age": 21, "score": 45, "passed": False},
    "S004": {"name": "David", "age": 23, "score": 92, "passed": True},
    "S005": {"name": "Eva", "age": 20, "score": 34, "passed": False}
}

1. Add a new student with ID "S006" name "Frank", age 22, score 80, passed True
2. Create a list called "top_performers" that contains students who scored above 75.
3. create a function that when given a student's name returns the data on the student, if the student is not present it should return "student not found"
4. Create a dictionary containing summary values based on the data above as follows:

summary = {
    "total_students": ...,
    "students_passed": ...,
    "highest_score": ...,
    "lowest_score": ...
}

In [2]:
students_data["S006"] = {"name": "Frank", "age": 22, "score": 80, "passed": True}

In [16]:
top_performers = [value["name"] for value in students_data.values() if value["score"]>75]
top_performers.sort()
top_performers

['Alice', 'Bob', 'David', 'Frank']

In [10]:
def get_student_data(name):
  students_data = {
    "S001": {"name": "Alice", "age": 20, "score": 88, "passed": True},
    "S002": {"name": "Bob", "age": 22, "score": 76, "passed": True},
    "S003": {"name": "Charlie", "age": 21, "score": 45, "passed": False},
    "S004": {"name": "David", "age": 23, "score": 92, "passed": True},
    "S005": {"name": "Eva", "age": 20, "score": 34, "passed": False}
}
  for value in students_data.values():
    if value["name"].lower()==name.lower():
      return value
  return "Student not found"

get_student_data("Frank")

'Student not found'

In [11]:
summary = {
    "total_students": len(students_data),
    "students_passed": len([value["name"] for value in students_data.values() if value["passed"]==True]),
    "highest_score": max([value["score"] for value in students_data.values()]),
    "lowest_score": min([value["score"] for value in students_data.values()])
}
summary

{'total_students': 6,
 'students_passed': 4,
 'highest_score': 92,
 'lowest_score': 34}

In [1]:
counter = 5
while counter >0:
  print("Hi"*counter)
  counter = counter - 1

HiHiHiHiHi
HiHiHiHi
HiHiHi
HiHi
Hi

In [2]:
valid = False
while not valid:
  num = input("Enter a value")
  if num.isnumeric():
    valid = True

Enter a valuet
Enter a value12

In [3]:
while True:
  num = input("Enter a value")
  if num.isnumeric():
    break

Enter a valuett
Enter a value34

In [4]:
ages = [18,20,32,40]
for age in ages:
  if age == 32:
    print("found")
    break
  else:
    print("not yet found")

not yet found
not yet found
found

In [9]:
ages = [20,15,30,12,30,52,40,33]
for age in ages:
  if age < 21:
    continue
  elif age == 40:
    break
  print(age,"is a valid age")

30 is a valid age
30 is a valid age
52 is a valid age

In [2]:
bank_accounts = ["John","Password!.","James","12ry2yu2","Mercy","46382","Harriet","gdsghd","Edward","tryeu","Ann","wsxft"]
bank_ledger = {
    "John":{"1":["deposit",15000,"20/02/2025"],
            "2":["deposit",5000,"22/02/2025"],
            "3":["withdrawal",2500,"23/02/2025"],
            "4":["deposit",250,"23/02/2025"],
            },
    "Harriet":{"1":["deposit",5800,"19/02/2025"],
            "2":["withdrawal",3000,"20/02/2025"],
            "3":["withdrawal",2000,"21/02/2025"],
            "4":["deposit",7000,"22/02/2025"]
            },
    "James":{"1":["deposit",10000,"19/02/2025"],
            "2":["withdrawal",2650,"19/02/2025"],
            "3":["withdrawal",1800,"21/02/2025"],
            "4":["withdrawal",3600,"22/02/2025"]
            },
    "Ann":{"1":["deposit",3000,"19/02/2025"],
            "2":["deposit",3500,"19/02/2025"],
            "3":["deposit",2200,"21/02/2025"],
            "4":["withdrawal",8700,"22/02/2025"]
          }
}

# ABC Bank Ledger
The datastructure above is an extract from the ABC bank Ledger and also a list containing the account names and their passwords sequentially. ABC bank require a system that allows users to withdraw and deposit money to their accounts. Consistency in accounts is extremely important. Addionally, the users need a good experience(handle errors wisely - use if statements not try...except!!!)
Create a function that allows users to login, then prompts the user for which operation they want to do and finally gives them their bank balance after the operation then reprompts them if they want to do another operation. The operation done should be reflected in bank ledger.

Flow:
1: Enter your name
2. Enter your password
3. Which operation do you want to do(deposit, withdraw, view my legder, exit)


-- if deposit/withdraw:
- enter amount
- your bank balance is now ****

-- if view my ledger:
- you deposited --- on *****
- you deposited --- on *****
- ***********
- Your current balance is ******

4. What other operation do you want to do?

-- if exit
- goodbye name


Consistency and experience rules:
- you cannot withdraw more than your balance
- reprompt the user for the correct value if they enter an invalid value at any point in time

# Exception handling
- Exceptions are errors that occur in runtime.
- Syntax errors occur during coding. They are flagged by the editor.

| Exception           | Description                                                                           |
| ------------------- | ------------------------------------------------------------------------------------- |
| `Name Error` | Raised when attempting to use an undefined variable/function name |
| `ZeroDivisionError` | Raised when a number is divided by zero                                               |
| `ValueError`        | Raised when a function receives an argument of the right type but inappropriate value |
| `TypeError`         | Raised when an operation is applied to an object of inappropriate type                |
| `IndexError`        | Raised when accessing a list index that doesn't exist                                 |
| `KeyError`          | Raised when a dictionary key is not found                                             |
| `FileNotFoundError` | Raised when trying to open a file that does not exist                                 |

In [22]:
"one"+1

TypeError: can only concatenate str (not "int") to str

In [23]:
int("one")

ValueError: invalid literal for int() with base 10: 'one'

In [21]:
25/0

ZeroDivisionError: division by zero

In [18]:
ages=[20,14,13,56]
print(ages[5])

IndexError: list index out of range

In [20]:
student_marks = {"John":20,"Mary":15}
print(student_marks["Peter"])

KeyError: 'Peter'

In [17]:
print("hello)

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-17-2149988476.py, line 1)

In [16]:
name = "John"
print(Name)

NameError: name 'Name' is not defined

In [ ]:
try:
    # Code that might raise an exception
except ExceptionType:
    # Code to run if exception occurs
else:
    # Code to be run incase no error was encountered

finally

In [25]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = a / b
    print("Result:", result)
except:
    print("You cannot divide by zero")

Enter numerator: 45
Enter denominator: 0
You cannot divide by zero

In [32]:
try:
  num_1 = int(input("Enter a number"))
  num_2 = int(input("Enter another number"))
  result = num_1/num_2
except ZeroDivisionError:
  print("You cannot divide by Zero")
except ValueError:
  print("Invalid value. Numerical value needed")
except:
  print("Something went wrong")

Something went wrong

In [40]:
try:
  user_creds = {"John":"Passwr","Mercy":"Passw"}
  name = input("What is your name")
  password = input("What is your password")
  if user_creds[name]==password:
    print("Welcome",name)
  else:
    print("Invalid credentials")
except KeyError:
  print("The user does not exist")
else:
  age = input("Whats is your age")
  print(name,"'s age is")

What is your namepeter
What is your passwordPasswr
The user does not exist

In [39]:
try:
    num = int(input("Enter a number: "))
    print("Square is", num * num)
except ValueError:
    print("Not a number!")
else:
    print("Operation successful.")
finally:
    print("Finished processing.")

Finished processing.

KeyboardInterrupt: Interrupted by user

Write a program that:

1. Asks the user for two numbers

2. Performs division

3. Handles ValueError and ZeroDivisionError

4. Keeps asking until correct input is given

# File handling


| Mode   | Description                                                    |
| ------ | -------------------------------------------------------------- |
| `'r'`  | Read (default). File must exist.                               |
| `'w'`  | Write. Creates a new file or overwrites existing.              |
| `'a'`  | Append. Adds to end of file. Creates file if it doesn't exist. |
| `'r+'` | Read and write. File must exist.                               |

In [ ]:
#sysntax
file = open("filename", "mode")

In [1]:
# Read full content
file = open("example.txt", "r")
content = file.read()
print(content)
file.close()

Welcome to Python Programming!
This file contains multiple lines.
You can read this file line by line.
File handling is very useful.
Let's learn by doing.

In [3]:
file = open("example.txt", "r")
line_1 = file.readline()  # Reads one line
all_lines = file.readlines() # Returns a list of lines
file.close()
print(line_1)
print(all_lines)

Welcome to Python Programming!

['This file contains multiple lines.\n', 'You can read this file line by line.\n', 'File handling is very useful.\n', "Let's learn by doing."]

In [41]:
file = open("output.txt", "w")
file.write("This is a new file.\n")
file.write("Hello!\n")
file.close()

In [43]:
print("\\")

\

In [5]:
file = open("output.txt", "a")
file.write("Adding more content...\n")
file.close()

In [8]:
with open("example.txt", "r") as file:
    all_lines = file.readlines()
    print(all_lines)

['Welcome to Python Programming!\n', 'This file contains multiple lines.\n', 'You can read this file line by line.\n', 'File handling is very useful.\n', "Let's learn by doing."]

In [9]:
try:
    with open("missing.txt", "r") as file:
        content = file.read()
except FileNotFoundError:
    print("The file was not found.")

The file was not found.

In [ ]:
# example of copying a file
with open("source.txt", "r") as source, open("destination.txt", "w") as dest:
    for line in source:
        dest.write(line)

In [46]:
#csv library
import csv

contents = []
with open("data.csv", "r") as file:
    reader = csv.reader(file)
    contents = list(reader)
    for row in reader:
        print(row)

In [47]:
print(contents)

[['Name', 'Age', 'Grade'], ['Alice', '14', 'A'], ['Bob', '15', 'B'], ['Charlie', '13', 'A'], ['David', '14', 'C'], ['Eve', '15', 'A']]

Build a small contact book using a file:

- Each contact: name, phone, email

- Save each contact in contacts.txt

- Menu: Add contact, View contacts, Search by name